#main p {
	width: 100%;
	text-align: center;
}

#main .fa-solid.fa-apple-whole {
	margin-right: 10px;
	margin-bottom: 1em;
}

#main .fa-solid.fa-apple-whole + p:first-letter {
	display: block;
	color: #cb1318;
	font-size: 28px;
	margin-block-start: 10px;
	line-height: 0.7;
}

li::marker {
	content: none;
}

@include breakpoint('<=xsmall') {
	@media screen and (max-width: 480px) {
		li::marker {
			content: none;
		}
	}
	ul li,
	ol li {
		list-style-type: none;
	}
	ul,
	ol {
		padding-left: 0;
	}
}
@include breakpoint('<=small') {
	@media screen and (max-width: 768px) {
		li::marker {
			content: none;
		}
	}
	ul li,
	ol li {
		list-style-type: none;
	}
	ul,
	ol {
		padding-left: 0;
	}
}
